/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
IGD_Docs.md
IGD_Docs.pdf
STEPPER_COMPONENT_IMPLEMENTATION.md
USH - Aplikasi Pengantar Pasien.txt
